@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #59636e;
  box-sizing: border-box;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
  font-weight: bolder;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
a {
  cursor: pointer;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.bar-container {
  width: 50px;
  height: 100px;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bar {
  width: 100%;
  height: 0px;
  background-color: rgb(235, 34, 34);
  position: absolute;
  bottom: 0;
  transition: height 1s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bar-rise {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#star {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.show {
  transition-delay: 1s !important;
  opacity: 1 !important;
}
.shop-button {
  vertical-align: top;
  display: inline-flex;
  color: black;
  z-index: 1;
  margin-left: 0;
  margin-right: 6px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding: 6px 16px 6px;
  min-height: 34px;
  position: relative;
  overflow: hidden;
  background: white;
  border: none;
  border-radius: 30px;
  outline: none;
  font-weight: bold;
}
